<app-header></app-header>
<app-nav></app-nav>

 <div>
    <div class="user-info">
      <div class="info-row">
        <span class="info-label">First Name:</span>
        <input class="info-value" type="text" [(ngModel)]="editedFirstName" *ngIf="isEditing">
        <span *ngIf="!isEditing">{{ user?.firstName }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Last Name:</span>
        <input class="info-value" type="text" [(ngModel)]="editedLastName" *ngIf="isEditing">
        <span *ngIf="!isEditing">{{ user?.lastName }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Alias:</span>
        <input class="info-value" type="text" [(ngModel)]="editedAlias" *ngIf="isEditing">
        <span *ngIf="!isEditing">{{ user?.alias }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Phone:</span>
        <input class="info-value" type="text" [(ngModel)]="editedPhone" *ngIf="isEditing">
        <span *ngIf="!isEditing">{{ user?.phone }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Email:</span>
        <input class="info-value" type="text" [(ngModel)]="editedEmail" *ngIf="isEditing">
        <span *ngIf="!isEditing">{{ user?.email }}</span>
      </div>
    </div>
  
    <button class="btn-modify" (click)="enableEdit()">Modificar</button>
    <button class="btn-save" *ngIf="isEditing" (click)="saveChanges()">Guardar</button>
  </div>
 <app-footer></app-footer> 
